---

- name: EPEL Repository (RedHat)
  yum_repository:
    name: epel
    description: Extra Packages for Enterprise Linux {{ supervisor_epel_release }} - $basearch
    baseurl: "{{ supervisor_epel_baseurl }}"
    failovermethod: priority
    enabled: yes
    gpgcheck: yes
    gpgkey: "{{ supervisor_epel_gpgkey }}"
  when: not(ansible_distribution == 'Amazon' and ansible_distribution_major_version == '2023')

- name: Refresh cache
  command: "{{ 'dnf' if ansible_distribution == 'Amazon' and ansible_distribution_major_version == '2023' else 'yum' }}  makecache"

- name: Install Packages (RedHat)
  action:
    module: "{{ 'dnf' if ansible_distribution == 'Amazon' and ansible_distribution_major_version == '2023' else 'yum' }}"
    state: present
    name: "{{ item }}"
    enablerepo: "epel"
  with_items: "{{ supervisor_packages }}"

- name: Amazon Install pip packages
  pip:
    state: present
    name: "{{ item }}"
  with_items: "{{ supervisor_pip_packages }}"
  when: ansible_distribution == 'Amazon'

# vi:ts=2:sw=2:et:ft=yaml
