---
#
# Supervisor configuration
#

- name: Supervisor configuration directories
  file:
    state=directory
    dest="{{ supervisor_services_dir }}"
    owner="root"
    group="root"
    mode="0755"

- name: Supervisor log directory
  file:
    state=directory
    dest="/var/log/supervisor"
    owner="root"
    group="root"
    mode="0755"

- name: Supervisor configuration
  template:
    src=etc/supervisor/supervisord.conf.j2
    dest="{{ supervisor_cfg }}"
    owner="root"
    group="root"
    mode="0644"
  notify: supervisor restart

- name: Create Systemd service
  template:
    src=etc/systemd/system/supervisord.service.j2
    dest="/etc/systemd/system/supervisord.service"
    owner="root"
    group="root"
    mode="0644"
  notify: reload systemd
  when: (ansible_distribution == 'Amazon' and ansible_distribution_major_version == '2023')

- name: Start & Enable Supervisor
  systemd:
    name: supervisord
    enabled: yes
    state: started
  when: (ansible_distribution == 'Amazon' and ansible_distribution_major_version == '2023')

- name: Supervisor configuration
  template:
    src=etc/supervisor/conf.d/service.conf.j2
    dest="{{ supervisor_services_dir }}/{{ item.key }}.conf"
    owner="{{ item.value.user|default('root') }}"
    group="{{ item.value.user|default('root') }}"
    mode="0640"
  with_dict: "{{ supervisor_services }}"
  notify: supervisor restart

# vi:ts=2:sw=2:et:ft=yaml
